### --- Python (Backend) --- ###
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
build/
dist/
.pytest_cache/

### --- Node/TypeScript (Frontend) --- ###
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.vite/
.node_repl_history

### --- Kubernetes & Helm --- ###
# Arquivos de pacotes Helm gerados localmente
*.tgz
# Arquivo de lock do Helm
Chart.lock

### --- Sistema & IDE --- ###
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log

### --- Docker --- ###
# Se você gerar logs de build ou arquivos temporários
.dockerignore